/* ----- Webpage View (Right Pane) ----- */
/* .webpage-view {

} */

/* TODO ADD A HOVER CONTEXT MENU TO TABS TO DISPLAY FULL DOCUMENT NAME */

/* Flex Container */
.tab-container {
    position: fixed;
    top: 0px;
    left: 160px;
    right: 0px;

    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;

    background-color: rgb(41,43,45);

    height: 39px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

/* Flex Item */
.tab-item {
    overflow: hidden;

    display: flex;

    border: 1px solid black;
    margin: 5px 2px;

    width: 100px;

    min-width: 0px;
    flex: 0 1 auto;
}

.tab-item:first-child {
    margin-left: 0;
}

.tab-item input {
    outline: none;
    text-align: center;
    padding: 3px 3px;
    border: none;
    color: white;
    background-color: rgb(80,82,84);
}

.tab-item[data-selected='true'] input {
    background-color: rgb(130, 132,134);
}

.tab-item input:first-child {
    width: 85px;
    min-width: 0;
    flex: 0 1 auto;
}

.tab-item input:last-child {
    width: 15px;
    min-width: 15px;
    flex: 1 0 auto;

    border-left: 1px solid black;
    background-color: rgb(70,72,74);
}

.tab-item input:last-child:active {
    color: red;
}

.tab-item input:hover {
    cursor: pointer;
}

/* webpage (webview) content sizing */
.webpage-container {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 160px;
    right: 0px;
} 

.webpage-item {
    height: 100%;
    width: 100%;
    border: none;
}